.siglaFacultate {
  height: 15vh !important;
}

.labelInfo {
  width: 18.75% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.labelStyle {
  text-align: center !important;
  font-size: small !important;
}

.labelSeparator {
  width: 5% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.butonDescarca {
  font-size: small !important;

  width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

.banner {
  color: white !important;
  text-align: center !important;
  justify-content: center !important;
  margin: 0px 0px 0px 0px !important;
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.butonFiltru {
  font-size: small !important;
  text-align: center !important;

  height: 50px !important;
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.menuDescarca {
  font-size: small !important;
  text-align: center !important;

  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.bannerColumn {
  text-align: center !important;
  justify-content: center !important;
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
}

.dropdownFacultate {
  width: 75% !important;
}

.butonDescarca {
  font-size: small !important;

  width: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

