.bannerDropdownMutaStudent {
    font-size: small !important;
    text-align: center !important;
    justify-content: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.centrare {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}