.messageStyle {
  align-items: center;
}

.cautareStudentStyle {
  width: 100% !important;
  border-radius: 15px !important;
}

.listaCamere {
  max-height: 200px;
}

.gridRoomList {
  height: 90px !important;
}

.deleteButton {
  height: 55px;
  width: 110% !important;
  border-radius: 15px !important;
  font-size: 5%;
}

.selectieStudent {
  width: 30px;
}

.listaCamere {
  width: 95%;
  max-height: 70%;
}

.gridRoomList {
  height: 90px !important;
}

.selectieStudent {
  width: 30px;
}

.gridStyle {
  height: 700px !important;
  overflow-y: auto !important;
  margin-top: 14px;
}
.insereazaStudentSegment {
  color: #14293d !important;
  border-width: 2px !important;
  border-color: #282c34;
  font-family: Tahoma, sans-serif !important;
  width: 100%;
  align-items: center;
  border-style: dashed !important;
}

.bannerDropdown {
  font-size: small !important;
  text-align: center !important;
  justify-content: center !important;

  height: 50px !important;
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.labelCazare {
  width: 32% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.labelSeparatorCazare {
  width: 2% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.inputSearchStudentiCazati {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.cautare {
  font-size: small !important;
  text-align: center !important;
  justify-content: center !important;
  border-radius: 5px !important;
  width: 80% !important;
  height: 50px !important;
  font-family: "UT Sans" !important;
}

.labelsLegenda {
  align-items: normal !important;
}
