.studentList {
  margin-bottom: 40px;
}

.checkboxStyle {
  margin: 0% !important;
  text-align: left !important;
}

.cautare {
  font-size: small !important;
  text-align: center !important;
  justify-content: center !important;
  border-radius: 5px !important;
  width: 80% !important;
  height: 50px !important;
  font-family: "UT Sans" !important;
}

.dropdownStyle {
  width: 100% !important;
}

:focus {
  outline: 0;
}

.centrare {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}