.shadow {
  border-radius: 3px !important;
  box-shadow: 4px 5px 0px -1px rgba(107, 107, 107, 0.2) !important;
  width: auto;
}

.numeStudent {
  font-weight: bold;
  font-size: medium;
  font-family: "UT Sans", sans-serif !important;
}

.studentStyle {
  padding-bottom: 0px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
  margin: 10px 10px !important;
}

.cellTabelStyle {
  color: #666666 !important;
  background-color: rgb(240, 240, 240) !important;
  border-width: 0px;
  justify-content: center !important;
  font-size: small !important;
  border-radius: 3px !important;
  border-top-width: 0.3em !important;
}

.genderLabel {
  font-size: small !important;
  color: white !important;
}

.infoLabel {
  color: white !important;
  background-color: #666666 !important;
  font-size: small !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.alertLabel {
  color: white !important;
  font-size: small !important;
}

.iconDecazeaza {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  margin: "auto" !important;
  right: "-1em" !important;
}
